@import './base.less';
@import './animation.less';

#struct-content() {
  img-radius: #border-radius()[small];
  emotion-size: 2.5rem;
  tab-interval: 0.5em;
  tab-transition-time: 0.4s;
  tab-summary-radius: #border-radius()[medium] #border-radius()[large-x];
  tab-summary-padding: 0.3em 0 0.2em 0.4em;
  tab-content-border: 1px solid #dark-struct-content()[tab-content-border-color];
  tab-content-padding: 0.4em 0.8em;
  tab-content-radius: #border-radius()[large];
  link-card-interval: 0.4em;
  link-card-radius: #border-radius()[large];
  link-card-cover-radius: #border-radius()[medium];
  link-card-padding: 0.4em;
  link-card-cover-width: 16rem;
  link-card-cover-height: 8rem;
  link-card-font-size: 1.5rem;
  link-card-cover-interval: 0.5em;
  link-card-gift-border: 2px solid;
  link-card-gift-border-flow-time: 3s;
  unknown-title-font-size: 1.1rem;
  unknown-padding: 0.6em 0.7em;
  unknown-radius: #border-radius()[small];
  unknown-border: 2px solid #dark-struct-content()[unknown-border-color];
  unknown-content-radius: #border-radius()[tiny];
  unknown-content-padding: 0.3em 0.5em;
  mention-padding: 0.35em 0.2em;
  mention-at-font-size: 1.5rem;
  mention-radius: #border-radius()[tiny];
  mention-user-transition-time: 0.15s;
}
#dark-struct-content() {
  tab-summary-bg-color: lighten(#dark()[secondary], 14%);
  tab-summary-hover-bg-color: lighten(#dark()[secondary], 17%);
  tab-summary-open-bg-color: lighten(#dark()[secondary], 18%);
  tab-summary-open-hover-bg-color: lighten(#dark()[secondary], 20%);
  tab-content-border-color: lighten(#dark()[sub], 5%);
  link-card-bg-color: lighten(#dark()[secondary], 12%);
  link-card-text-color: lighten(#dark-text()[important], 20%);
  unknown-bg-color: lighten(#dark()[secondary], 14%);
  unknown-border-color: darken(#dark()[sub], 15%);
  unknown-content-bg-color: darken(#dark()[secondary], 4%);
  unknown-content-color: darken(#dark-text()[color], 6%);
  mention-bg-color: lighten(#dark()[secondary], 14%);
  mention-user-color: lighten(#dark-text()[color], 2%);
  mention-user-hover-color: lighten(#dark-text()[color], 10%);
}

:deep(.hoyolab-mention) {
  background-color: #dark-struct-content()[mention-bg-color];
  padding: #struct-content()[mention-padding];
  border-radius: #struct-content()[mention-radius];

  .at {
    font-size: #struct-content()[mention-at-font-size];
    font-weight: 500;
  }
  a {
    text-decoration: none;
    font-weight: 600;
    color: #dark-struct-content()[mention-user-color];
    transition-duration: #struct-content()[mention-user-transition-time];

    &:hover {
      color: #dark-struct-content()[mention-user-hover-color];
    }
  }
}

:deep(.hoyolab-unknown-content) {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #dark-struct-content()[unknown-bg-color];
  padding: #struct-content()[unknown-padding];
  border-radius: #struct-content()[unknown-radius];
  border: #struct-content()[unknown-border];

  .title {
    font-size: #struct-content()[unknown-title-font-size];
    font-weight: 600;
    font-style: italic;
  }
  .content {
    background-color: #dark-struct-content()[unknown-content-bg-color];
    border-radius: #struct-content()[unknown-content-radius];
    padding: #struct-content()[unknown-content-padding];
    font-family: 'Courier New', Courier, monospace;
    white-space: break-spaces;
    word-break: break-all;
    color: #dark-struct-content()[unknown-content-color];
  }
}

:deep(.hoyolab-link-card) {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #dark-struct-content()[link-card-bg-color];
  border-radius: #struct-content()[link-card-radius];
  overflow: hidden;
  padding: #struct-content()[link-card-padding];
  margin: #struct-content()[link-card-interval] 0;

  a {
    width: 100%;
    text-decoration: none;
    color: #dark-struct-content()[link-card-text-color];
    user-select: none;
  }

  > .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    .title {
      text-align: center;

      a {
        font-size: #struct-content()[link-card-font-size];
        width: 100%;
        font-weight: 500;
      }
    }
  }

  > .cover {
    width: #struct-content()[link-card-cover-width];
    height: #struct-content()[link-card-cover-height];
    border-radius: #struct-content()[link-card-cover-radius];
    overflow: hidden;
    margin-right: #struct-content()[link-card-cover-interval];

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &.article {

  }
  &.gift {
    border: #struct-content()[link-card-gift-border];
    animation: borderFlow #struct-content()[link-card-gift-border-flow-time] linear infinite;
  }
}

:deep(.hoyolab-image) {
  width: 100%;
  text-align: center;

  img {
    border-radius: #struct-content()[img-radius];
    display: inline-block;
    max-width: 100%;
    height: auto !important;
  }
}

:deep(.hoyolab-emotion) {
  display: inline-block;
  vertical-align: middle;
  height: #struct-content()[emotion-size];

  img {
    display: inline-block;
    max-height: 100%;
  }
}

:deep(.hoyolab-video) {
  width: 100%;
  text-align: center;

  video {
    display: inline-block;
    max-width: 100%;
    height: auto !important;
    outline: none;
  }
}

:deep(.hoyolab-tab) {
  margin: #struct-content()[tab-interval] 0;

  > details {
    transition-duration: #struct-content()[tab-transition-time];

    > summary {
      transition-duration: #struct-content()[tab-transition-time];
      padding: #struct-content()[tab-summary-padding];
      border-radius: #struct-content()[tab-summary-radius];
      outline: none;
      user-select: none;
      cursor: pointer;
      background-color: #dark-struct-content()[tab-summary-bg-color];
      text-align: center;

      &:hover {
        background-color: #dark-struct-content()[tab-summary-hover-bg-color];
      }

      &::marker,
      &::-webkit-details-marker {
        content: "▢";
      }
    }

    > .content {
      transition-duration: #struct-content()[tab-transition-time];
      border-radius: #struct-content()[tab-content-radius];
      border: #struct-content()[tab-content-border];
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-top: none;
      padding: #struct-content()[tab-content-padding];
      opacity: 0;
    }

    &[open] {
      > summary {
        background-color: #dark-struct-content()[tab-summary-open-bg-color];

        &:hover {
          background-color: #dark-struct-content()[tab-summary-open-hover-bg-color];
        }

        &::marker,
        &::-webkit-details-marker {
          content: "▣";
        }
      }

      > .content {
        opacity: 1;
      }
    }
  }
}

hr {
  &.hr-1 {

  }

  &.hr-2 {

  }

  &.hr-3 {

  }

  &.hr-4 {

  }
}